body {
  background: url(../images/22.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
  max-width: 100%;
  /* 최대 너비 지정 */
  display: flex;
  /* 부모 요소를 flex 컨테이너로 만듦 */
  justify-content: center;
  /* 가로 방향으로 중앙 정렬 */
  margin: 0;
  padding: 0;
}
#header-background {
  background-color: skyblue;
}

#footer-background {
  background-color: skyblue;
}
#Portfoliomain {
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translate(-50%);
  width: 450%;
  height: 78%;
  text-align: center;
  box-shadow: 1px 1px 5px 2px #dadce0, 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}
#PortfolioTilte {
  font-weight: bold;
  color: dark;
}
@media only screen and (max-width: 768px) {
  #Portfoliomain {
    width: 93%;
  }
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

header {
  position: fixed;
  left: 0;
}
#button-1,
#button-2,
#button-3,
#button-4,
#login-button,
#signUp-button {
  font-weight: bold;
}

@media screen and (max-width: 2000px) and (min-width: 784px) {
  #button-1 {
    width: 19%;
    margin-right: 10px;
  }
  #button-2 {
    width: 19%;
    margin-right: 10px;
  }
  #button-3 {
    width: 19%;
    margin-right: 10px;
  }
  #button-4 {
    width: 19%;
    margin-right: 10px;
  }
  #login-button {
    width: 19%;
    margin-right: 11.5px;
  }
  #signUp-button {
    width: 19%;
  }

  #menu-button {
    margin-left: 22.1%;
    margin-bottom: 10px;
    order: 1; /* 순서 변경 */
  }

  #member-button {
    margin-left: 37.27%;
    margin-top: 10px;
    order: 2; /* 순서 변경 */
  }
}
@media screen and (max-width: 783px) and (min-width: 400px) {
  #button-1 {
    width: 24.5%;
    margin-right: 2px;
  }
  #button-2 {
    width: 20%;
    margin-right: 2px;
  }
  #button-3 {
    width: 20%;
    margin-right: 2px;
  }
  #button-4 {
    width: 20%;
    margin-right: 2px;
  }
  #login-button {
    width: 21%;
    margin-right: 6.5px;
  }
  #signUp-button {
    width: 21%;
  }

  #menu-button {
    text-align: center;
    margin-bottom: 10px;
    order: 1; /* 순서 변경 */
  }

  #member-button {
    margin-left: 5%;
    text-align: center;
    margin-top: 2px;
    order: 2; /* 순서 변경 */
  }
}
